/Backend/obj/Debug/net8.0
Backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
/Frontend-v2/node_modules
Frontend-v2/.env
Backend/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfo.cs
Backend/obj/Debug/net8.0/Backend.AssemblyInfoInputs.cache
Backend/obj/Debug/net8.0/Backend.assets.cache
Backend/obj/Debug/net8.0/Backend.GeneratedMSBuildEditorConfig.editorconfig
Backend/obj/Debug/net8.0/Backend.GlobalUsings.g.cs
Backend/obj/Debug/net8.0/rpswa.dswa.cache.json
Backend/obj/Debug/net8.0/staticwebassets.removed.txt
Frontend_v2/drizzle/meta/_journal.json
Frontend_v2/drizzle/meta/0002_snapshot.json
Frontend_v2/drizzle/meta/0001_snapshot.json
Frontend_v2/drizzle/0002_known_venom.sql
Frontend_v2/drizzle/0001_lying_mandrill.sql
Frontend_v2/drizzle/meta/_journal.json
Frontend_v2/drizzle/meta/_journal.json
